*{
    margin: auto;
    padding: auto;
}

body{
    background: #fff
}

.app{
    background: #fff;
    color: #000
}

.button{
    color: #000;
    background: #fff;
    border: none
}

.selected{
    background:#ddd
}

.correct{
    background: #0f0
}

.wrong{
    background: #f00
}